html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
@media all and (max-width: 600px) {
  html,
  body {
    background-color: black;
  }
  .navigation {
    height: 50px;
  }
  .sidenav {
    height: 100%;
    width: 100%; 
    position: sticky;
    overflow-x: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .sidenav .tablink {
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main {
    display: none;
  }
  .meat {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 4px;
  }
  .tabcontent {
    color: ghostwhite;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  h2.my-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: ghostwhite;
  }
  .frontpage {
    margin-bottom: 10px;
  }
  .shit,
  .resume,
  .small-title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .websites i,
  .web-apps i,
  .frontend i,
  .back-end i {
    font-size: 20px;
  }
  .websites,
  .web-apps,
  .frontend,
  .back-end,
  .rats,
  .boo,
  .rate,
  .premium,
  .contact {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .contact-form,
  .container,
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .bgimg {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/19/14/30/aurora-borealis-1839582_1280.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    color: ghostwhite;
    font-size: 20px;
  }
  h2 {
    color: #f16529;
  }
  h4 {
    color: #689f63;
  }
}
.sidenav i {
  color: #33455d;
}
.tablink {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  background-color: ghostwhite;
}
.tablink:hover {
  background-color: #777;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px ghostwhite;
}
#Home {
  background-color: #2d3036;
  /*! Firefox */
  scrollbar-width: thin;
  overflow-y: scroll;
  scrollbar-color: rgb(146, 132, 132) #2d3036;
}
#News {
  background-color: rgb(120, 146, 120);
}
#Contact {
  background-color: rgb(35, 35, 75);
  scrollbar-width: thin;
  overflow-y: scroll;
  scrollbar-color: rgb(146, 132, 132) rgb(35, 35, 75);
}
#About {
  background-color: rgb(29, 32, 34);
  scrollbar-width: thin;
  overflow-y: scroll;
  scrollbar-color: rgb(146, 132, 132) rgb(29, 32, 34);
}
.Home,
.News,
.Contact,
.About {
  display: flex;
  height: 100%;
  width: 100%;
}
.contact,
.work-ex,
.coming-soon,
.frontpage {
  height: 90%;
  width: 90%;
}
h1,
h3,
p {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  color: ghostwhite;
}
.websites i {
  color: #f16529;
}
.web-apps i {
  color: #61dafb;
}
.frontend i {
  color: #264de4;
}
.back-end i {
  color: #689f63;
}
.basic-info {
  color: rgb(23, 146, 126);
}
@media only screen and (min-width: 600px) {
  html,
  body {
    background-image: linear-gradient(#000000, #5a4a50);
  }
  .navigation {
    height: 100%;
    position: fixed;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: ;
  }
  .sidenav {
    height: 90%;
    width: 50px; 
    background-color: #33455d;
    overflow-x: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #33455d;
    border-radius: 8px;
  }
  .sidenav .tablink {
    text-decoration: none;
    font-size: 30px;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidenav .tablink:hover {
    background-color: #526878;
    filter: brightness(50%);
  }
  .main {
    background-image: url("pexels-gijs-coolen-2948297.jpg");
    position: fixed;
    height: 99%;
    width: 300px;
    filter: drop-shadow(0 0 0.9rem rgb(51, 50, 50));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .profile {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  p {
    padding-left: 5px;
    padding-right: 5px;
  }
  .social {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .social a {
    width: 20%;
    height: 100%;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social i {
    color: mediumaquamarine;
  }
  .meat {
    margin-left: 350px;
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: fixed;
  }
  .tabcontent {
    color: ghostwhite;
    height: 90%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*gives a rounded edge*/
    border: 2px solid linear-gradient(#000000, #5a4a50);
    border-radius: 8px;
    flex-direction: column;
    overflow-x: hidden;
  }
  .info {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
  }
  .line {
    height: 1px;
    width: 100%;
    margin-top: 100px;
    border: solid white;
    background-color: white;
  }
  .resume {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
  .webdev i {
    font-size: 50px;
    color: teal;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .title {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    color: ghostwhite;
  }
  .my-name {
    display: none;
  }
  .small-title {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    color: ghostwhite;
    margin-bottom: 80px;
  }

  .par {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: ghostwhite;
    margin: 0;
  }

  h1 {
    font-size: 50px;
    font-family: "Lato", sans-serif;
  }

  .shit {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
  .tb {
    height: 1px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    border: solid white;
    background-color: white;
  }
  .rats {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .boo,
  .rate,
  .premium {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 33.33%;
  }
  .services {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .money {
    font-size: 20px;
    color: #85bb65;
  }
  .websites,
  .web-apps,
  .frontend,
  .back-end {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    height: 50%;
  }
  .websites i,
  .web-apps i,
  .frontend i,
  .back-end i {
    font-size: 60px;
  }
  input[type="text"],
  select,
  textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
  }
  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .phone {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .bgimg {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/19/14/30/aurora-borealis-1839582_1280.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: ghostwhite;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  hr {
    margin: auto;
    width: 40%;
  }
}
@media only screen and (min-width: 992px) {
  html,
  body {
    background-image: linear-gradient(#000000, #5a4a50);
  }
  .navigation {
    height: 100%;
    position: fixed;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }
  .sidenav {
    height: 90%;
    width: 80px; 
    background-color: #33455d;
    overflow-x: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #33455d;
    border-radius: 8px;
  }
  .sidenav .tablink {
    text-decoration: none;
    font-size: 30px;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidenav .tablink:hover {
    background-color: #526878;
    filter: brightness(50%);
  }
  .main {
    background-image: url("pexels-gijs-coolen-2948297.jpg");
    position: fixed;
    height: 99%;
    width: 420px;
    filter: drop-shadow(0 0 0.9rem rgb(51, 50, 50));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .profile {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  p {
    padding-left: 5px;
    padding-right: 5px;
  }
  .social {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .social a {
    width: 20%;
    height: 100%;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social i {
    color: mediumaquamarine;
  }
  .meat {
    margin-left: 500px;
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: fixed;
  }
  .tabcontent {
    color: ghostwhite;
    height: 90%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*gives a rounded edge*/
    border: 2px solid linear-gradient(#000000, #5a4a50);
    border-radius: 8px;
    flex-direction: column;
    overflow-x: hidden;
  }
  .info {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
  }
  .line {
    height: 1px;
    width: 100%;
    margin-top: 100px;
    border: solid white;
    background-color: white;
  }
  .resume {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
  .webdev i {
    font-size: 50px;
    color: teal;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .title {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    color: ghostwhite;
  }
  .my-name {
    display: none;
  }
  .small-title {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    color: ghostwhite;
    margin-bottom: 80px;
  }
  .par {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: ghostwhite;
    margin: 0;
  }
  h1 {
    font-size: 50px;
    font-family: "Lato", sans-serif;
  }
  .shit {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
  .tb {
    height: 1px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    border: solid white;
    background-color: white;
  }
  .rats {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .boo,
  .rate,
  .premium {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 33.33%;
  }
  .services {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .money {
    font-size: 40px;
    color: #85bb65;
  }
  .websites,
  .web-apps,
  .frontend,
  .back-end {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    height: 50%;
  }
  .websites i,
  .web-apps i,
  .frontend i,
  .back-end i {
    font-size: 60px;
  }
  input[type="text"],
  select,
  textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
  }
  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .phone {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .bgimg {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/19/14/30/aurora-borealis-1839582_1280.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: ghostwhite;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  hr {
    margin: auto;
    width: 40%;
  }
}
@media only screen and (min-width: 1550px) {
  html,
  body {
    background-image: linear-gradient(#000000, #5a4a50);
  }
  .navigation {
    height: 100%;
    position: fixed;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 165px;
  }

  .sidenav {
    height: 90%;
    width: 100px; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #33455d;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #33455d;
    border-radius: 8px;
  }
  .sidenav .tablink {
    text-decoration: none;
    font-size: 30px;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidenav .tablink:hover {
    background-color: #526878;
    filter: brightness(50%);
  }
  .main {
    background-image: url("pexels-gijs-coolen-2948297.jpg");
    position: fixed;
    height: 99%;
    width: 600px;
    filter: drop-shadow(0 0 0.9rem rgb(51, 50, 50));
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 265px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .profile {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  p {
    padding-left: 5px;
    padding-right: 5px;
  }
  .social {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .social a {
    width: 20%;
    height: 100%;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social i {
    color: mediumaquamarine;
  }
  .meat {
    margin-left: 865px;
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: fixed;
  }
  .tabcontent {
    color: ghostwhite;
    height: 90%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid linear-gradient(#000000, #5a4a50);
    border-radius: 8px;
    flex-direction: column;
    overflow-x: hidden;
  }
  .info {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
  }
  .line {
    height: 1px;
    width: 100%;
    margin-top: 100px;
    border: solid white;
    background-color: white;
  }
  .resume {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
  .webdev i {
    font-size: 50px;
    color: teal;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .title {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    color: ghostwhite;
  }
  .my-name {
    display: none;
  }
  .small-title {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    color: ghostwhite;
    margin-bottom: 80px;
  }
  .par {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: ghostwhite;
    margin: 0;
  }
  h1 {
    font-size: 50px;
    font-family: "Lato", sans-serif;
  }
  .shit {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
  .tb {
    height: 1px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    border: solid white;
    background-color: white;
  }
  .rats {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .boo,
  .rate,
  .premium {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 33.33%;
  }
  .services {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .money {
    font-size: 60px;
    color: #85bb65;
  }

  .websites,
  .web-apps,
  .frontend,
  .back-end {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    height: 50%;
  }
  .websites i,
  .web-apps i,
  .frontend i,
  .back-end i {
    font-size: 60px;
  }
  input[type="text"],
  select,
  textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical; 
  }
  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .phone {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .bgimg {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/19/14/30/aurora-borealis-1839582_1280.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: ghostwhite;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  hr {
    margin: auto;
    width: 40%;
  }
}
